language: go

go:
  - 1.9.x

go_import_path: github.com/viktorminko/monitor

git:
  depth: 1

script:
  - go test -v -race ./pkg/...
  - $GOPATH/bin/goveralls -service=travis-ci

before_install:
  - go get github.com/mattn/goveralls
